.donation-banner {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
  }
  
  .donation-banner h1 {
    font-size: 64px;
    margin-bottom: 35px;
    color: #02B665; /* Update: Set title color to blue */
  }
  
  .donation-banner p {
    font-size: 18px;
    /* line-height: 1.5; */
    margin-bottom: 20px;
    color: #000; /* Update: Set paragraph text color to dark gray */
  }
  
  .donation-buttons {
    display: flex;
    justify-content: center;
  }
  
  .donation-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .donation-buttons button:first-child {
    background-color: #02B665;
    color: #000;
    height: 50px;
    width: 170px;
    font-size: 18px;
  }
  
  .donation-buttons button:last-child {
    background-color: #fff;
    /* border: 1px solid #3399ff; */
    color: #797979;
    height: 50px;
    font-size: 18px;

  }
  .donation-image {
    margin-top: -240px;
    margin-left: -160px;
    width: 1900px;
}
  